@font-face {
  font-family: 'TTCommons';
  src: url("../fonts/TTCommons-Regular.ttf");
}

@font-face {
  font-family: 'TTCommons-Bold';
  src: url("../fonts/TTCommons-Bold.ttf");
}

body{
//font-family: 'TTCommons';
}

.nav-md .container.body .col-md-3.left_col.menu_fixed{
    border-right: 1px solid #94b7d2;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(245, 245, 245, 0.28);
    -moz-box-shadow: 2px 3px 5px 0px rgba(103,191,250,1);
    box-shadow: 2px 3px 5px 0px rgba(120, 124, 126, 0.48);
}

#mCSB_1_container .left_col.scroll-view{
    background: #011730;
}

body {
    background: #011730;
}

#sidebar-menu a{
    color:#e2e2e2;
    //text-transform: uppercase;
    //font-size:16px;
    //font-family: 'TTCommons';
}

.menu_section h3 {
   //white-space: normal;
   //font-weight: 600;
   //font-family: 'TTCommons-Bold';
}

.nav.side-menu > li > a:hover {
  color: #fff !important;
}

.nav-sm ul.nav.child_menu {
background:#FFF;
}

.nav.side-menu > li.current-page, .nav.side-menu > li.active {
    border-right: 5px solid #fff;
}

.nav.side-menu > li > a.active{
//box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16)
}

.nav.side-menu > li.active:first-child a{
//background:red;
}

.nav.side-menu > li {
   // box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}


.menu_section h3{
    color: #7387a8;
    text-shadow: inherit;
}

.site_title{
    color: #fff !important;
    background: #2c87cdd1;
    border-bottom: 1px solid #2d70bb;
}

.nav_menu{
   background: #fff;
   -webkit-box-shadow: 2px 3px 5px 0px rgba(184,158,184,0.25);
   -moz-box-shadow: 2px 3px 5px 0px rgba(184,158,184,0.25);
   box-shadow: 2px 3px 5px 0px rgba(184,158,184,0.25);
}

body .container.body .right_col {
    background: #fcfcfc;
}

.nav-md ul.nav.child_menu li:after{
   border-left: none;
}

.menu_section h3 {
    color: #fff;
}

.nav.side-menu > li.active > a {
    background: #1b48ac69;
}

.img-banner{
    width:100%;
    height: 120px;
    margin-bottom: 40px;

}

.form-control.input-sm.busqueda{
    border-radius: 100px;
}

.dropdown-toggle.btn btn-primary.tab-acciones{

}

.nav > li > a.dropdown-toggle{
    padding: 2px 5px 2px 5px;
}

