<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block titulo %} {% endblock %}
    </title>
    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'portal/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'portal/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'portal/css/nprogress.css' %}" rel="stylesheet">
    <!-- jQuery custom content scroller -->
    <link href="{% static 'portal/css/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">


    <!-- Custom Theme Style -->
    <link href="{% static 'portal/css/custom.css' %}" rel="stylesheet">

    <!-- Estilos Personalizados -->
    <link href="{% static 'portal/css/estilos.css' %}" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-desktop"></i> <span>SIGEPROID</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <!--<div class="profile clearfix">
              <div class="profile_pic">
                <img src="{% static 'portal/img/img.jpg' %}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenido,</span>
                <h2>Nombre de Usuario</h2>
              </div>
            </div>-->
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>

                <ul class="nav side-menu">
                  <li><a href="javascript:void(0)"><i class="fa fa-home"></i>Panel de Control</span></a></li>
                  <li><a><i class="fa fa-bullseye"></i> Catalogos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="index.html">Opcion 1</a></li>
                      <li><a href="index2.html">Opc 2</a></li>
                      <li><a href="index3.html">Opc 3</a></li>
                    </ul>
                  </li>

                  <li><a><i class="fa fa-bullseye"></i> Proyectos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="index.html">Opc 1</a></li>
                      <li><a href="index2.html">Opc 2</a></li>
                      <li><a href="index3.html">Opc 3</a></li>
                    </ul>
                  </li>

                  <li><a><i class="fa fa-bullseye"></i> Etapas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="index.html">Etapas</a></li>
                      <li><a href="index2.html">Opc 2</a></li>
                      <li><a href="index3.html">Opc 3</a></li>
                    </ul>
                  </li>

                  <li><a><i class="fa fa-bullseye"></i> Lineas de Investigacion <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="index.html">Opc 1</a></li>
                      <li><a href="index2.html">Opc 2</a></li>
                      <li><a href="index3.html">Opc 3</a></li>
                    </ul>
                  </li>

                </ul>
              </div>

              <div class="menu_section">
                <h3>Reportes</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bar-chart-o"></i> Proyectos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#level1_1">-</a>
                        <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li class="sub_menu"><a href="level2.html">Level Two</a>
                            </li>
                            <li><a href="#level2_1">Level Two</a>
                            </li>
                            <li><a href="#level2_2">Level Two</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="#level1_2">Level One</a>
                        </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="menu_section">
                <h3>Configuraciones</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-gears"></i> Sistema <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#level1_1">Configuraciones</a>
                        <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li class="sub_menu"><a href="level2.html">Level Two</a>
                            </li>
                            <li><a href="#level2_1">Level Two</a>
                            </li>
                            <li><a href="#level2_2">Level Two</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="#level1_2">Level One</a>
                        </li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <!--<div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>-->
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <div class="nav toggle">
                  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="nav navbar-nav">
                <ul class=" navbar-right">
                  <li class="nav-item dropdown open" style="padding-left: 15px;">
                    <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                      <img src="{% static 'portal/img/img.jpg' %}" alt="">Nombre de Usuario
                    </a>
                    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item"  href="javascript:;"> Perfil</a>
                        <a class="dropdown-item"  href="javascript:;">
                          <span class="badge bg-red pull-right">50%</span>
                          <span>Settings</span>
                        </a>
                    <a class="dropdown-item"  href="javascript:;">Ayuda</a>
                      <a class="dropdown-item"  href="login.html"><i class="fa fa-sign-out pull-right"></i> Salir</a>
                    </div>
                  </li>

                </ul>
              </nav>
            </div>
          </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <!--<h3>Panel de control !!</h3>-->
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-md-11">
                <img class="img-banner" src="{% static 'portal/img/banner_federal.jpg' %}" width="100%" alt="">
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">

                <!--<div class="page-title">
              <div class="title_left">
                <h3>Proyectos</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar ...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Buscar</button>
                    </span>
                  </div>
                </div>
              </div>
              </div>-->

              {% block contenido %} {%endblock%}





              </div>
          </div>


        </div>
        <!-- /page content -->



        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>


    <!-- jQuery -->
    <script src="{% static 'portal/js/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'portal/js/bootstrap.bundle.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'portal/js/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'portal/js/nprogress.js' %}"></script>
    <!-- jQuery custom content scroller -->
    <script src="{% static 'portal/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'portal/js/custom.min.js' %}"></script>
  </body>
</html>