{% extends "portal/base.html" %}
{% block titulo %} Panel de Contro |{% endblock %}
{% block contenido%}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Proyectos</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap no-footer">
          <div class="row"><div class="col-sm-6"><div class="dataTables_length" id="datatable_length">
            <label>Mostar
            <select name="datatable_length" aria-controls="datatable" class="form-control input-sm">
              <option value="10">10</option><option value="25">25</option>
              <option value="50">50</option><option value="100">100</option>
            </select></label>
          </div></div>
          <div class="col-sm-6"><div id="datatable_filter" class="dataTables_filter"><label>Buscar:<input type="search" class="form-control input-sm busqueda" placeholder="" aria-controls="datatable"></label></div></div></div><div class="row"><div class="col-sm-12"><table id="datatable" class="table table-striped table-bordered dataTable no-footer" style="width:100%" role="grid" aria-describedby="datatable_info">
          <thead>
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 150px;">Name</th>
              <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 246px;">Position</th>
              <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 113px;">Office</th>
              <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 54px;">Age</th>
              <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 105px;">Start date</th>
              <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 89px;">-</th>
            </tr>
          </thead>


          <tbody>


          <tr role="row" class="odd">
              <td class="sorting_1">Airi Satou</td>
              <td>Accountant</td>
              <td>Tokyo</td>
              <td>33</td>
              <td>2008/11/28</td>
              <td>
                <ul class="nav nav-pills" role="tablist">
                      </li>
                      <li role="presentation" class="dropdown">
                        <a id="drop6" href="#" class="dropdown-toggle btn btn-secondary tab-acciones" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                    Acciones
                                    <span class="caret"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Ingresar</a>
                                    <a class="dropdown-item" href="#">Eliminar</a>
                                    <a class="dropdown-item" href="#">Editar</a>
                                  </div>
                      </li>
                  </ul>
              </td>
            </tr><tr role="row" class="even">
              <td class="sorting_1">Angelica Ramos</td>
              <td>Chief Executive Officer (CEO)</td>
              <td>London</td>
              <td>47</td>
              <td>2009/10/09</td>
              <td>-</td>
            </tr><tr role="row" class="odd">
              <td class="sorting_1">Ashton Cox</td>
              <td>Junior Technical Author</td>
              <td>San Francisco</td>
              <td>66</td>
              <td>2009/01/12</td>
              <td>-</td>
            </tr><tr role="row" class="even">
              <td class="sorting_1">Bradley Greer</td>
              <td>Software Engineer</td>
              <td>London</td>
              <td>41</td>
              <td>2012/10/13</td>
              <td>-</td>
            </tr><tr role="row" class="odd">
              <td class="sorting_1">Brenden Wagner</td>
              <td>Software Engineer</td>
              <td>San Francisco</td>
              <td>28</td>
              <td>2011/06/07</td>
              <td>-</td>
            </tr><tr role="row" class="even">
              <td class="sorting_1">Brielle Williamson</td>
              <td>Integration Specialist</td>
              <td>New York</td>
              <td>61</td>
              <td>2012/12/02</td>
              <td>-</td>
            </tr><tr role="row" class="odd">
              <td class="sorting_1">Bruno Nash</td>
              <td>Software Engineer</td>
              <td>London</td>
              <td>38</td>
              <td>2011/05/03</td>
              <td>-</td>
            </tr><tr role="row" class="even">
              <td class="sorting_1">Caesar Vance</td>
              <td>Pre-Sales Support</td>
              <td>New York</td>
              <td>21</td>
              <td>2011/12/12</td>
              <td>-</td>
            </tr><tr role="row" class="odd">
              <td class="sorting_1">Cara Stevens</td>
              <td>Sales Assistant</td>
              <td>New York</td>
              <td>46</td>
              <td>2011/12/06</td>
              <td>-</td>
            </tr><tr role="row" class="even">
              <td class="sorting_1">Cedric Kelly</td>
              <td>Senior Javascript Developer</td>
              <td>Edinburgh</td>
              <td>22</td>
              <td>2012/03/29</td>
              <td>-</td>
            </tr></tbody>
        </table></div></div>
          <div class="row"><div class="col-sm-5">
            <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">1 de 10 del Total de 57</div>
            </div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
            <ul class="pagination">
              <li class="paginate_button previous disabled" id="datatable_previous">
                <a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0">Anterior</a>
              </li>
              <li class="paginate_button active">
                <a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0">1</a>
              </li>
              <li class="paginate_button ">
                <a href="#" aria-controls="datatable" data-dt-idx="2" tabindex="0">2</a>
              </li>
              <li class="paginate_button ">
                <a href="#" aria-controls="datatable" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="datatable" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="datatable" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="datatable" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="datatable_next"><a href="#" aria-controls="datatable" data-dt-idx="7" tabindex="0">Siguiente</a></li></ul></div></div></div></div>
      </div>
    </div>
</div>

{% endblock %}