{% extends "portal/base.html" %}
{% block titulo %}Form{% endblock %}

{% block contenido %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li><h2>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}<h2/> </li>
    {% endfor %}
</ul>
{% endif %}

<div class="x_panel">
      <div class="x_title">
        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{tituloform}} </font></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="dropdown-item" href="#">Settings 1</a>
              </li>
              <li><a class="dropdown-item" href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br>
        <form method="POST" action="">
          {% csrf_token %}

          {% for field in form %}
               <div class="form-group">
                      {{ field.label_tag }}
                      {{ field }}
                      {{field.errors}}

               </div>
          {% endfor %}

          <div class="sec-btn-form-p">
                <button type="submit" class="btn btn-primary btn-form-p">GUARDAR</button>
            </div>
        </form>
      </div>
    </div>


{% endblock %}