{% extends "portal/base.html"%}
{% block titulo%}Proyectos{% endblock%}
{% block contenido %}

<div class="x_panel">
  <div class="x_title">
    <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Proyectos</font></font></h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Settings 1</a>
            <a class="dropdown-item" href="#">Settings 2</a>
          </div>
      </li>
      <li><a class="close-link"><i class="fa fa-close"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">

    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tabla simple con listado de proyectos con opciones de progreso y edición</font></font></p>

    <!-- start project list -->
    <table class="table table-striped projects">
      <thead>
        <tr>
          <th style="width: 1%"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"># #</font></font></th>
          <th style="width: 20%"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre del proyecto</font></font></th>
          <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Miembros del equipo</font></font></th>
          <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Progreso del proyecto</font></font></th>
          <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Estado</font></font></th>
          <th style="width: 20%"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">#Editar</font></font></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"># #</font></font></td>
          <td>
            <a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pesamakini Backend UI </font></font></a>
            <br>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creado 01.01.2015</font></font></small>
          </td>
          <td>
            <ul class="list-inline">
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
            </ul>
          </td>
          <td class="project_progress">
            <div class="progress progress_sm">
              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57" aria-valuenow="56" style="width: 57%;"></div>
            </div>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">57% completado</font></font></small>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-xs"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Éxito</font></font></button>
          </td>
          <td>
            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Ver </font></font></a>
            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Editar </font></font></a>
            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Borrar </font></font></a>
          </td>
        </tr>
        <tr>
          <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"># #</font></font></td>
          <td>
            <a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pesamakini Backend UI </font></font></a>
            <br>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creado 01.01.2015</font></font></small>
          </td>
          <td>
            <ul class="list-inline">
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
            </ul>
          </td>
          <td class="project_progress">
            <div class="progress progress_sm">
              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="47" aria-valuenow="46" style="width: 47%;"></div>
            </div>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">47% completado</font></font></small>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-xs"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Éxito</font></font></button>
          </td>
          <td>
            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Ver </font></font></a>
            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Editar </font></font></a>
            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Borrar </font></font></a>
          </td>
        </tr>
        <tr>
          <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"># #</font></font></td>
          <td>
            <a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pesamakini Backend UI </font></font></a>
            <br>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creado 01.01.2015</font></font></small>
          </td>
          <td>
            <ul class="list-inline">
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
            </ul>
          </td>
          <td class="project_progress">
            <div class="progress progress_sm">
              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="77" aria-valuenow="75" style="width: 77%;"></div>
            </div>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">77% completado</font></font></small>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-xs"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Éxito</font></font></button>
          </td>
          <td>
            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Ver </font></font></a>
            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Editar </font></font></a>
            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Borrar </font></font></a>
          </td>
        </tr>
        <tr>
          <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"># #</font></font></td>
          <td>
            <a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pesamakini Backend UI </font></font></a>
            <br>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creado 01.01.2015</font></font></small>
          </td>
          <td>
            <ul class="list-inline">
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
            </ul>
          </td>
          <td class="project_progress">
            <div class="progress progress_sm">
              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60" aria-valuenow="59" style="width: 60%;"></div>
            </div>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">60% completo</font></font></small>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-xs"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Éxito</font></font></button>
          </td>
          <td>
            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Ver </font></font></a>
            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Editar </font></font></a>
            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Borrar </font></font></a>
          </td>
        </tr>
        <tr>
          <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"># #</font></font></td>
          <td>
            <a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pesamakini Backend UI </font></font></a>
            <br>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creado 01.01.2015</font></font></small>
          </td>
          <td>
            <ul class="list-inline">
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
            </ul>
          </td>
          <td class="project_progress">
            <div class="progress progress_sm">
              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="12" aria-valuenow="11" style="width: 12%;"></div>
            </div>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12% completado</font></font></small>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-xs"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Éxito</font></font></button>
          </td>
          <td>
            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Ver </font></font></a>
            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Editar </font></font></a>
            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Borrar </font></font></a>
          </td>
        </tr>
        <tr>
          <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"># #</font></font></td>
          <td>
            <a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pesamakini Backend UI </font></font></a>
            <br>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creado 01.01.2015</font></font></small>
          </td>
          <td>
            <ul class="list-inline">
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
            </ul>
          </td>
          <td class="project_progress">
            <div class="progress progress_sm">
              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="35" aria-valuenow="35" style="width: 35%;"></div>
            </div>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">35% completado</font></font></small>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-xs"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Éxito</font></font></button>
          </td>
          <td>
            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Ver </font></font></a>
            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Editar </font></font></a>
            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Borrar </font></font></a>
          </td>
        </tr>
        <tr>
          <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"># #</font></font></td>
          <td>
            <a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pesamakini Backend UI </font></font></a>
            <br>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creado 01.01.2015</font></font></small>
          </td>
          <td>
            <ul class="list-inline">
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
            </ul>
          </td>
          <td class="project_progress">
            <div class="progress progress_sm">
              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="87" aria-valuenow="87" style="width: 87%;"></div>
            </div>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">87% completado</font></font></small>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-xs"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Éxito</font></font></button>
          </td>
          <td>
            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Ver </font></font></a>
            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Editar </font></font></a>
            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Borrar </font></font></a>
          </td>
        </tr>
        <tr>
          <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"># #</font></font></td>
          <td>
            <a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pesamakini Backend UI </font></font></a>
            <br>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creado 01.01.2015</font></font></small>
          </td>
          <td>
            <ul class="list-inline">
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
            </ul>
          </td>
          <td class="project_progress">
            <div class="progress progress_sm">
              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="77" aria-valuenow="75" style="width: 77%;"></div>
            </div>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">77% completado</font></font></small>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-xs"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Éxito</font></font></button>
          </td>
          <td>
            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Ver </font></font></a>
            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Editar </font></font></a>
            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Borrar </font></font></a>
          </td>
        </tr>
        <tr>
          <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"># #</font></font></td>
          <td>
            <a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pesamakini Backend UI </font></font></a>
            <br>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creado 01.01.2015</font></font></small>
          </td>
          <td>
            <ul class="list-inline">
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
              <li>
                <img src="images/user.png" class="avatar" alt="Avatar">
              </li>
            </ul>
          </td>
          <td class="project_progress">
            <div class="progress progress_sm">
              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="77" aria-valuenow="75" style="width: 77%;"></div>
            </div>
            <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">77% completado</font></font></small>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-xs"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Éxito</font></font></button>
          </td>
          <td>
            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Ver </font></font></a>
            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Editar </font></font></a>
            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Borrar </font></font></a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- end project list -->

  </div>
</div>







{% endblock %}