{%extends 'portal/layout.html'%}

{%block content%}

<form class="form" method="POST">
    {%csrf_token%}
    {{form.as_p}}

    <button type="submit" id="submit">Registrarse</button>
</form>

{%endblock%}