{% extends "portal/layout_admin.html" %}
{% load static %}
{% block titulo %}consulta{% endblock %}
{% load tag_extras %}
{% block contenido %}

<div class="row">
    <div class="col-lg-12">

    <div class="sec-mensaje">
          {% if messages %}
                {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }} sec-mensaje"{% endif %} role="alert">
                    {{ message }}
                </div>
                {% endfor %}

        {% endif %}
    </div>


     <h2 class="page-header">
         {{ NOMBRE_TABLA }}
     </h2>

        <div class="panel panel-default">
            <!--<div class="panel-heading">
                DataTables Advanced Tables
            </div>-->

	        <div class="panel-body">

	        	<div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">

						<!-- Seccion header tabla -->
                    	<div class="col-sm-6">
                            <div id="dataTables-example_filter" class="dataTables_filter">
                                <form method="POST" action="">
                                {% csrf_token %}
                                    <input type="search" class="form-control input-sm personalizado" name="buscar" aria-controls="dataTables-example">
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-search"></i> Buscar</button>
                                </form>
                            </div>
                        </div>


                        <div class="col-sm-6 personalizado">
                            <div class="dataTables_length" id="dataTables-example_length">
                                <a href="{% url URL_ALTA  %}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Añadir">
                                    <i class="fa  fa-plus fa-fw"></i>Agregar
                                </a>
                            </div>
                        </div>
                    </div>


                    <!-- Seccion Tabla Contenido -->

                    <br>
                    <div class="row">
                    	<div class="col-sm-12">

                    		 <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" role="grid"  style="width: 100%;">

                    		 	<thead class="bg-table">
                                    <tr role="row">
                                        {% for fila_dato in columnas%}
                                        <th class="sorting" rowspan="1" colspan="1" >{{fila_dato|upper}}</th>
                                       {% endfor %}
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 147px;">ACCIÓN</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    {% for fila_dato in datos_tabla %}
                                    <tr class="gradeA odd" role="row">

                                        {% for dato in fila_dato %}

                                            {% if forloop.first == True %}
                                                <th scope="row">{{ forloop.parentloop.counter|noRegistroPaginacion:datos_paginador.number }}</th>
                                            {%else%}
                                                    <td>{{ dato|default:"-"}}</td>
                                            {% endif %}

                                        {% endfor %}

                                        <td class="center">

                                            <a href="{% url URL_VER fila_dato.0 %}" class="btn btn btn-info btn-sm" title="Ver">
                                                    <i class="fa fa-eye fa-fw"></i>
                                            </a>
                                            <a href="{% url URL_EDITAR fila_dato.0 %}" class="btn btn btn-success btn-sm" title="Editar">
                                                    <i class="fa fa-edit fa-fw"></i>
                                            </a>
                                            <a href="{% url URL_ELIMINAR fila_dato.0 %}" class="btn btn-danger btn-sm" title="Eliminar">
                                                    <i class="fa fa-times fa-fw"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>


                    		 </table>


                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-7">
                            <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Pagina {{ datos_paginador.number }} de {{ datos_paginador.paginator.num_pages }}</div>
                        </div>


                        {% if datos_paginador.paginator.num_pages > 1  and busqueda == False%}
                        <div class="col-sm-5">
                            <div class="dataTables_paginate paging_simple_numbers personalizado" id="dataTables-example_paginate">
                                <ul class="pagination">
                                    {% if datos_paginador.has_previous %}
                                    <li class="paginate_button previous" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                                        <a href="?page={{ datos_paginador.previous_page_number }}"><span>&laquo;</span> Anterior</a>
                                    </li>
                                    {% endif %}

                                    {% for i in datos_paginador.paginator.page_range %}

                                        {% if datos_paginador.number == i %}
                                        <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                            <a href="?page={{ i }}">{{i}}</a>
                                        </li>
                                        {% else %}
                                        <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                                            <a href="?page={{ i }}">{{i}}</a>
                                        </li>
                                        {% endif%}

                                    {% endfor %}

                                    {% if datos_paginador.has_next %}
                                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                                        <a href="?page={{ datos_paginador.next_page_number }}">Siguiente <span>&raquo;</span></a>
                                    </li>
                                     {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}



                </div>

	        </div>

         </div>


    </div>
</div>


{% endblock %}